html,body
{
    background-color: white;
}

/* Style of header */
.topnav
{
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.topnav a
{
    float: left;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
    width: 25%;
}

.topnav a:hover
{
    background-color: grey;
    color: white;

}

.topnav a.active
{
    background-color: darkgrey;
    color: white;
}

.circleimg{
    border-radius: 50%;
}

.middle{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: auto;
    height: 250px;
}

.imgbg{
    background-color: #EDECF1;
    padding: 12px;
}

.right{
    float:right;
}   