html,body
{
    background-color: white;
}

.topnav
{
    width: 100%;
    background-color: black;
    overflow: hidden;
    
}

.topnav a
{
    float: left;
    color: white;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    text-decoration: none;
    text-align: center;
    width: 25%;
}

.topnav a:hover
{
    background-color: grey;
    color: white;

}

.topnav a.active
{
    background-color: darkgrey;
    color: white;
}


.middle img{
    border-radius: 50%;
}

.middle{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: auto;
    height: 250px;
}

.imgbg{
    background-color: #EDECF1;
    padding: 12px;
}

.right{
    float:right;
    width: 38%;
}   

.Intro h1{
    text-align: center;

}

.Intro{
    display:left;
    height: auto;
    width: 60%;
    background-color: #EDECF1;
    border-radius: 5px;
    text-align: left;
    font-size: large;
    padding: 5px;
    margin-bottom: 15px;
}   

.black{
    width: auto;
    height: 150px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

footer{
    margin: 0%;
    width: 100%;
    height: 50px;
    background-color: gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
  }
  
  .column {
    flex: 33%;
    max-width: 33%;
    padding: 0 2px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  .section {
      padding-top: 15px;
      background-color: #EDECF1;
      text-align: center;
  }


  .Fact-Section {
    display: flex;
    padding-bottom: 5px;
  }
 
  .Fact{
    flex: 33.33%;
    padding: 5px;
    text-align: center;
  }
  
  .Details{
      display: left ;
      float: left;
      width: 55%;
      padding: 1px;
      text-align: center;

  }

  .Aboutimg img{
      float: right;
      border-radius: 50%;
      height: 400px;
      padding-right: 10px;
      padding-top: 20px;
  }